*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100vh;
    width:100vw;
}
.kwanza{
    height:100vh;
    width:100vw;
}


.figa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .picture{
    height:50vh;
    width:65vw;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
    
   
}
@media(min-width:1000px){
    .picture{
        height:80vh;
        width:60vw;
    }
}
  .spacer{
    height:10px;
    width:100vw;
  }
  section{
    margin:10px;
  }
  .head{
    text-align: center;
    margin:20px;
    padding:5px;
  }
  .second{
    margin:10px;
  }